<h1>〜<%= @user.name %>さんのプロフィール〜</h1>

<% if @user.image? %>
  <%= image_tag @user.image.url, size: '200x200' %>
<% else %>
  <%= image_tag 'ゴーディ.jpeg', size: '200x200' %>
<% end %>
<p>ユーザー: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to '編集', edit_user_path(@user) %>
<%= link_to '一覧画面', pictures_path %>
<%= link_to 'あなたのお気に入り投稿一覧', favorites_path %>
